<div class="container text-center signinPage" id="card">
	<div class="front">
		<h1>Change Password</h1>
		<form name="pwdResetForm" ng-submit="changePassword(pwdResetForm.$valid)" id="signUpForm"  method="POST" novalidate>
		<div class="formDiv signupForm">			
				
				<div class="form-group">
					<div class="input-group input-group-lg">
					  <span class="input-group-addon" ><img src="img/password-icon.png" /></span>
					  <input type="password" class="form-control floating-placeholder" placeholder="Old Password" aria-describedby="sizing-addon1" ng-model="oldpassword" required>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group input-group-lg">
					  <span class="input-group-addon" ><img src="img/password-icon.png" /></span>
					  <input type="password" class="form-control floating-placeholder" placeholder="Password" aria-describedby="sizing-addon1" ng-model="password" required>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group input-group-lg">
					  <span class="input-group-addon" ><img src="img/password-icon.png" /></span>
					  <input type="password" class="form-control floating-placeholder" placeholder="Confirm Password" aria-describedby="sizing-addon1" ng-model="repassword" required>
					</div>
				</div>				
				<div class="signinPagebtn" style="margin-top:30%;">
				<!-- 	<button class="btn btn-default" type="submit">Sign Up</button> -->
					<input type="submit" data-role="none"  class="btn btn-default" value="Submit">
					<!--<button class="btn btn-default">Login with Facebook</button>
					<button class="btn btn-default">Login with Twitter</button>-->
					<p ng-click="changePage('dashboard')">Back</p>
				</div>			
		</div>
		
		</form>
	</div>






	
	
</div>
