<div class="row nomargin InnertopHead">
		<div class="container">
			<h1><a ng-click="goBack();"> <img src="img/back-arrow.png" /> <span>Invite Contacts</span> </a></h1>
		</div>
	</div>
	<div class="row nomargin ">
		<div class="container">
			<div class="row nomargin btnGroup">
				<div class="col-xs-12 col-sm-12 col-md-12 nopadding">
					<div class="input-group">
					  <span class="input-group-btn">
						<button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
					  </span>
					  <input type="text" class="form-control" ng-keyup="searchUser()" id="user_search" placeholder="Search">
					</div>
				</div>
			</div>
		    <div class="row nomargin listofGroups">
				<h4>Users</h4>
				<div class="scrollbar-inner">
					<table class="table">
						<tr ng-repeat="user in allUsers">
							<td>{{user.name}}</td>
							<td></td>
							<td></td>
							<td>&nbsp</td>
						</tr>
					</table>
				</div>
			</div>
			<p class="emptyMessage" ng-show="emptyMessage">Sorry no users found!!</p>
		</div>	
</div>
 