<div class="text-center lpage">
  <div class="regular slider">
    
	
    <div>
      <div class="item landingPageContainer" style="background-color:#B1BD52;" >
        <div class="heading">
          <h1>Connect with Friends</h1>
          <h4>Stay up to date.</h4>
        </div>
        <div class="lpimg landingPageImages" style="background-image: url('./img/slider/mobile-screen/1 - Connect_iPhone_X.png');" > </div>
      </div>
    </div>

    <div>
      <div class="item landingPageContainer" style="background-color:#5D356F;" >
        <div class="heading">
          <h1>Curate your Interests</h1>
          <h4>Follow categories or join a private team.</h4>
        </div>
        <div class="lpimg landingPageImages" style="background-image: url('./img/slider/mobile-screen/2 - Curate_iPhone_X.png');" > </div>
      </div>
    </div>


    <div>
      <div class="item landingPageContainer" style="background-color:#36A1AF;" >
        <div class="heading">
          <h1>Ask Anything</h1>
          <h4>“Yes” or “No” Questions.</h4>
        </div>
        <div class="lpimg landingPageImages" style="background-image: url('./img/slider/mobile-screen/3 - Ask_iPhone_X.png');" > </div>
      </div>
    </div>


    <div>
      <div class="item landingPageContainer" style="background-color:#E19047;" >
        <div class="heading">
          <h1>Give Answers</h1>
          <h4>Be anonymous or be yourself.</h4>
        </div>
        <div class="lpimg landingPageImages" style="background-image: url('./img/slider/mobile-screen/4 - Give_iPhone_X.png');" > </div>
      </div>
    </div>

    <div>
      <div class="item landingPageContainer" style="background-color:#d45252;" >
        <div class="heading">
          <h1>Make Decisions</h1>
          <h4>Let your responders know.</h4>
        </div>
        <div class="lpimg landingPageImages" style="background-image: url('./img/slider/mobile-screen/5 - Decide_iPhone_X.png');" > </div>
      </div>
    </div>
		
	
  </div>
  <!-- <div class="landingPagebtn">
    <button class="btn btn-default" ng-click="changePage('dashboard')">Continue</button>
  </div> -->
</div>
