<div class="row nomargin InnertopHead">
		<div class="container">
			<h1><a href="" ng-click="goBack();"> <img src="img/back-arrow.png" /> <span>Question Asked</span> </a></h1>
		</div>
	</div>
	<div class="row nomargin askQPage aqpMore">
		<div class="container">
			<div class="questionMain">
				<h4>Polictics</h4>
				<div class="row nomargin">
					<div class="col-xs-7 col-sm-6 title"><p>President Trump 100 days...</p></div>
					<div class="col-xs-5 col-sm-6 Subtitle text-right">
						<ul class="subTxt">
							<li> 2 days</li>
							<li><div class="checkbox"><input type="checkbox" id="checkboxOne"> <label class="check-box" for="checkboxOne"></label></div></li>
						</ul>
					</div>
				</div>
				<div class="row nomargin">
					<div class="col-xs-7 col-sm-6 title"><p>President Trump 100 days...</p></div>
					<div class="col-xs-5 col-sm-6 Subtitle text-right">
						<ul class="subTxt">
							<li> 2 days</li>
							<li><div class="checkbox"><input type="checkbox" id="checkboxSecond"> <label class="check-box" for="checkboxSecond"></label></div></li>
						</ul>
					</div>
				</div>
				<div class="row nomargin">
					<div class="col-xs-7 col-sm-6 title"><p>President Trump 100 days...</p></div>
					<div class="col-xs-5 col-sm-6 Subtitle text-right">
						<ul class="subTxt">
							<li> 2 days</li>
							<li><div class="checkbox"><input type="checkbox" checked="true" id="checkboxThird"> <label class="check-box" for="checkboxThird"></label></div></li>
						</ul>
					</div>
				</div>
				<div class="row nomargin">
					<div class="col-xs-7 col-sm-6 title"><p>President Trump 100 days...</p></div>
					<div class="col-xs-5 col-sm-6 Subtitle text-right">
						<ul class="subTxt">
							<li> 2 days</li>
							<li><div class="checkbox"><input type="checkbox" id="checkboxOne"> <label class="check-box" for="checkboxOne"></label></div></li>
						</ul>
					</div>
				</div>
				<div class="row nomargin">
					<div class="col-xs-7 col-sm-6 title"><p>President Trump 100 days...</p></div>
					<div class="col-xs-5 col-sm-6 Subtitle text-right">
						<ul class="subTxt">
							<li> 2 days</li>
							<li><div class="checkbox"><input type="checkbox" id="checkboxSecond"> <label class="check-box" for="checkboxSecond"></label></div></li>
						</ul>
					</div>
				</div>
				<div class="row nomargin">
					<div class="col-xs-7 col-sm-6 title"><p>President Trump 100 days...</p></div>
					<div class="col-xs-5 col-sm-6 Subtitle text-right">
						<ul class="subTxt">
							<li> 2 days</li>
							<li><div class="checkbox"><input type="checkbox" checked="true" id="checkboxThird"> <label class="check-box" for="checkboxThird"></label></div></li>
						</ul>
					</div>
				</div>
				<div class="row nomargin">
					<div class="col-xs-7 col-sm-6 title"><p>President Trump 100 days...</p></div>
					<div class="col-xs-5 col-sm-6 Subtitle text-right">
						<ul class="subTxt">
							<li> 2 days</li>
							<li><div class="checkbox"><input type="checkbox" id="checkboxOne"> <label class="check-box" for="checkboxOne"></label></div></li>
						</ul>
					</div>
				</div>
				<div class="row nomargin">
					<div class="col-xs-7 col-sm-6 title"><p>President Trump 100 days...</p></div>
					<div class="col-xs-5 col-sm-6 Subtitle text-right">
						<ul class="subTxt">
							<li> 2 days</li>
							<li><div class="checkbox"><input type="checkbox" id="checkboxSecond"> <label class="check-box" for="checkboxSecond"></label></div></li>
						</ul>
					</div>
				</div>
				<div class="row nomargin">
					<div class="col-xs-7 col-sm-6 title"><p>President Trump 100 days...</p></div>
					<div class="col-xs-5 col-sm-6 Subtitle text-right">
						<ul class="subTxt">
							<li> 2 days</li>
							<li><div class="checkbox"><input type="checkbox" checked="true" id="checkboxThird"> <label class="check-box" for="checkboxThird"></label></div></li>
						</ul>
					</div>
				</div>
				<div class="row nomargin">
					<div class="col-xs-7 col-sm-6 title"><p>President Trump 100 days...</p></div>
					<div class="col-xs-5 col-sm-6 Subtitle text-right">
						<ul class="subTxt">
							<li> 2 days</li>
							<li><div class="checkbox"><input type="checkbox" id="checkboxOne"> <label class="check-box" for="checkboxOne"></label></div></li>
						</ul>
					</div>
				</div>
				<div class="row nomargin">
					<div class="col-xs-7 col-sm-6 title"><p>President Trump 100 days...</p></div>
					<div class="col-xs-5 col-sm-6 Subtitle text-right">
						<ul class="subTxt">
							<li> 2 days</li>
							<li><div class="checkbox"><input type="checkbox" id="checkboxSecond"> <label class="check-box" for="checkboxSecond"></label></div></li>
						</ul>
					</div>
				</div>
				<div class="row nomargin">
					<div class="col-xs-7 col-sm-6 title"><p>President Trump 100 days...</p></div>
					<div class="col-xs-5 col-sm-6 Subtitle text-right">
						<ul class="subTxt">
							<li> 2 days</li>
							<li><div class="checkbox"><input type="checkbox" checked="true" id="checkboxThird"> <label class="check-box" for="checkboxThird"></label></div></li>
						</ul>
					</div>
				</div>
				<div class="row nomargin">
					<div class="col-xs-7 col-sm-6 title"><p>President Trump 100 days...</p></div>
					<div class="col-xs-5 col-sm-6 Subtitle text-right">
						<ul class="subTxt">
							<li> 2 days</li>
							<li><div class="checkbox"><input type="checkbox" id="checkboxOne"> <label class="check-box" for="checkboxOne"></label></div></li>
						</ul>
					</div>
				</div>
				

				
			</div>
			
		</div>	
</div>